<style type="text/css">
        @font-face {
            font-family: 'GangwonEdu_7';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
            font-weight: 700;
            font-style: normal;
        }

        @font-face {
            font-family: 'Pretendard_4';
            src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
        }

        .meal {
            margin: auto;
            top: 300px;
            text-align: left;
            box-shadow: 2px 2px 15px grey;
            border-radius: 10px;
            padding: 15px;
            width: 20%;
            min-width: 300px;
            max-width: 370px;
        }

        .schoolplan {
            margin: auto;
            margin-top: 30px;
            top: 300px;
            text-align: left;
            box-shadow: 2px 2px 15px grey;
            border-radius: 10px;
            padding: 15px;
            width: 20%;
            min-width: 300px;
            max-width: 370px;
        }

        .subjectplan {
            display: flex;
        }

        select {
            margin-left: 10px;
        }

        p {
            font-family: 'Pretendard_4'
        }

        

        img {
            margin: 20px;
        }

        .schoolpic {
            display: flex;
            justify-content: center;
        }

        .flexfather {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .foodmore {
            width: 20px;
            height: 20px;
            margin-left: 75%;
        }

        table {
            border-collapse: collapse;
            border-style: hidden;
            width: 100%;
            font-size: 90%;

        }

        .sjplanflex {
            display: flex;
            flex-wrap: wr;
            flex-direction: column;
            margin: auto;
            margin-top: 30px;
            top: 300px;
            text-align: left;
            box-shadow: 2px 2px 15px grey;
            border-radius: 10px;
            padding: 15px;
            width: 20%;
            min-width: 300px;
            max-width: 370px;
        }

        .sjplanfont {
            font-family: 'Pretendard_4'
        }

        hr {
            border: 0px;
            border-top: 1px solid;
        }
        .screensize{
            display: none;
        }
        b {
            font-family: 'GangwonEdu_7';
            font-size: 1.2em;
        }
        
    </style>
